<div class="ui modal responsive large func__bank_login bank-login">
	<i class="fa fa-close"></i>
	<h1>
		<i class="fa fa-lock"></i>  &nbsp; Securely Link Your Bank Account
	</h1>

	<div class="wrap">

		<hr />

		<div class="ui column grid">
			<div class="column">
				<div class="ui form">

					<div class="login-wrap">

						<div class="img-wrap">
							<img class="func__bank_logo bank-logo" src="">
						</div>

						<label>Username</label>
						<div class="ui icon input">
							<input type="text" placeholder="Username" class="func__bank_username">
							<i class="user icon"></i>
						</div>

						<label>Password</label>
						<div class="ui icon input">
							<input type="password" placeholder="Password" class="func__bank_password">
							<i class="lock icon"></i>
						</div>

						<span class="func__pin_option hidden">
							<label>Account PIN (4 digits)</label>
							<div class="ui icon input">
								<input type="password" placeholder="Account PIN" class="func__account_pin">
								<i class="lock icon"></i>
							</div>
						</span>

						<div class="ui button primary pull-right func__login_bank">Link Account</div>
					</div>

				</div>
			</div>
		</div>

		<div class="continue ui button part2 func__launch_bank_modal pull-left">
			<i class="fa fa-chevron-left"></i>&nbsp; Back 
	 	</div>


	</div>
</div>