
{{!-- CA BANK FORM --}}

<div class="ui modal bank step1 responsive large" data-country="ca" step-two="true">
	<i class="fa fa-close"></i>
	<h1>
		<i class="fa fa-lock"></i>  &nbsp; Add Your Bank Account
	</h1>

	<div class="wrap">

		<hr />

		<div class="ui column grid">
			
			<div class="column">
				<div class="ui form">
					<div class="ui two fields">

						<div class="field">
							<label>Account Number</label>
							<div class="ui left input">
								<input class="account-number func__account_number" type="text" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
							</div>
						</div>

						<div class="field checkboxes">
							<label>Account Type</label>
							<div class="grouped inline fields">
								<div class="field">
									<div class="ui radio checkbox">
										<input class="checking" type="radio" name="account" checked="checked">
										<label>Checking</label>
									</div>
								</div>
								<div class="field">
									<div class="ui radio checkbox savings">
										<input class="savings" type="radio" name="account">
										<label>Savings</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ui two fields">

						<div class="field">
							<label>Transit Number</label>
							<div class="ui left input">
								<input class="transit func__transit_number" type="text" placeholder="&bull;&bull;&bull;&bull;&bull;">
							</div>
						</div>
						<div class="field">
							<label>Bank Number</label>
							<div class="ui left input">
								<input class="bank-number func__bank_number" type="text" placeholder="&bull;&bull;&bull;">
							</div>
						</div>
					</div>
				
				</div>

			</div>
		</div>
		<h1 class="trust">All data is transfered over SSL and stored using an AES encryption standard</h1>
	  	<div class="continue ui button part1 func__save_bank">
			Next &nbsp;<i class="fa fa-chevron-right"></i>
	 	</div>
	</div>
</div>
