<div class="ui modal responsive bank func__confirm_delete_bank confirm-box">
	<i class="fa fa-close"></i>
	<h1>
		Confirm This Action
	</h1>

	<div class="wrap">

		<hr />

		<div class="ui two buttons">
			<button class="ui button negative func__cancel">Cancel</button>
			<button class="ui button positive func__confirm">Confirm</button>
		</div>

	</div>
</div>