<div class="ui modal change-email responsive func__add_phone_modal">
	<i class="fa fa-close"></i>
	<h1>Update Your Phone Number</h1>

	<div class="wrap">
		<hr />

		<div class="ui form">

            <div class="field">
                <label>New Phone</label>
                <div class="">
                    <div class="col-xs-4 col-no-padding">
                        <div class="ui left input">
                            <input class="func__new_phone_code" type="text" placeholder="+1" value="{{phone_code}}"> &nbsp;  &nbsp; 
                        </div>
                    </div>

                    <div class="col-xs-8 col-no-padding">
                        <div class="ui left input">
                            <input class="func__new_phone" type="text" placeholder="555-555-5555">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ui button func__confirm_add_phone">Save</div>

	</div>
</div>