<div class="ui modal change-email responsive func__add_name_modal">
	<i class="fa fa-close"></i>
	<h1>Update Your Name</h1>

	<div class="wrap">
		<hr />

		<div class="ui form">

            <div class="field">
                <label>Full Name</label>
                    
                <div class="ui left input">
                    <input class="func__new_name" type="text" placeholder="First and last name">
                </div>
            </div>

        </div>

        <div class="ui button func__confirm_add_name">Save</div>

	</div>
</div>