<div class="ui modal change-email responsive func__change_email_modal">
	<i class="fa fa-close"></i>
	<h1>Update Your Email Address</h1>

	<div class="wrap">
		<hr />

		<div class="ui form">

            <div class="field">
                <label>New Email</label>
                <div class="ui left input">
                    <input class="func__new_email" type="text" placeholder="Your New Email">
                </div>
            </div>

            <div class="field">
                <label>Confirm New Email</label>
                <div class="ui left input">
                    <input class="func__confirm_new_email" type="text" placeholder="Confirm Your New Email">
                </div>
            </div>

        </div>

        <div class="ui button func__confirm_change_email">Save</div>

	</div>
</div>