<div class="ui modal change-password responsive func__change_password_modal">
	<i class="fa fa-close"></i>
	<h1>Update Your Password</h1>

	<div class="wrap">
		<hr />

		<div class="ui form">

            <div class="field">
                <label>New Password</label>
                <div class="ui left input">
                    <input class="func__new_password" type="password" placeholder="Your New Password">
                </div>
            </div>

            <div class="field">
                <label>Confirm New Password</label>
                <div class="ui left input">
                    <input class="func__confirm_new_password" type="password" placeholder="Confirm Your New Password">
                </div>
            </div>

        </div>

        <div class="ui button func__confirm_change_password">Save</div>

	</div>
</div>