
<div class="ui modal ha-confirm-order responsive func__confirm_order">
	<i class="fa fa-close func__close"></i>
	<h1><i class="fa fa-lock"></i> &nbsp;Order Confirmation</h1>

	<div class="wrap">
		<hr />

		<div class="func__buy hidden">

			<div class="row">
				<div class="col-xs-3 labels">
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Volume</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Date</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Est. Delivery</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Address</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Method</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Total</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-12">
							<p>
								+<span class="func__volume"></span> BTC
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								<span class="func__date"></span>
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								<span class="func__est_delivery"></span>
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								<span class="func__address"></span>
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								*******<span class="func__account"></span>
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								<span class="func__total"></span>
								<span class="func__fiat"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div> 

		<div class="func__sell hidden">
			<div class="row">
				<div class="col-xs-3 labels">
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Volume</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Date</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Est. Delivery</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Address</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Method</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p>
								<span class="text">Total</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-12">
							<p>
								-<span class="func__volume"></span> BTC
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								<span class="func__date"></span>
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								<span class="func__est_delivery"></span>
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								<span class="func__address"></span>
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								*******<span class="func__account">8343</span>
							</p>
						</div>
						<div class="col-xs-12">
							<p>
								<span class="func__total"></span>
								<span class="func__fiat"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui">
			<div class="ui buttons">
				<div class="ui button func__cancel_transaction">Cancel</div>
				<div class="or"></div>
				<div class="ui positive button func__confirm_transaction">Place Order</div>
			</div>
		</div>

	</div>
</div>