<div class="ui modal new-account-address responsive func__launch_add_personal_address">
	<i class="fa fa-close func__close"></i>
	<h1>Add Your Address</h1>

	<div class="wrap">
		<hr />

		<div class="ui form">
			<div class="ui two fields">
				<div class="field">
					<label>Address Line1: </label>
					<div class="ui icon input">
						<input type="text" class="func__address_1" placeholder="Street address" autofocus=true>
					</div>
				</div>

				<div class="field">
					<label>Address Line2: </label>
					<div class="ui icon input">
						<input type="text" class="func__address_2" placeholder="Apt, unit, floor, etc">
					</div>
				</div>
			</div>

			<div class="ui two fields">
				<div class="field">
					<label>City: </label>
					<div class="ui icon input">
						<input type="text" class="func__city">
					</div>
				</div>
				<div class="field">
					<label>State/Province/Region: </label>
					<div class="ui icon input">
						<input type="text" class="func__state_province_region">
					</div>
				</div>
			</div>

			<div class="ui two fields">
				<div class="field">
					<label>ZIP/Postal code: </label>
					<div class="ui icon input">
						<input type="text" class="func__zip_postal">
					</div>
				</div>
			</div>
				
		</div>
		<div class="ui positive button func__modal_save_address">Save</div>
	</div>
</div>