<div class="ui modal doc responsive func__selfie_upload_modal large">
	<i class="fa fa-close"></i>
	<h1>Upload a Selfie of You Holding Your ID</h1>

	<div class="wrap">
		<hr />

		<form class="dropzone" id="selfie-dropzone"></form>

		<h1 class="trust"><i class="fa fa-lock"></i> &nbsp;All data is transfered over SSL and stored using an AES encryption standard</h1><br />
		<button class="ui button submit func__submit_selfie">Upload</button>
	
	</div>
</div>