<div class="ui modal change-email responsive func__verify_phone_modal">
	<i class="fa fa-close"></i>
	<h1>Verify Your Phone Number</h1>

	<div class="wrap">
		<hr />

		<div class="ui form">

            <div class="field">
               <p>A code has been sent to your number <b>+<span class="func__number"></span></b>. Please verify below.</p>
                <div class="ui action input ">
                    <input type="text" class="func__verify" placeholder="Code">
                    <div class="ui button func__verify_phone">Verify</div>
                </div>
            </div>
            <br />
        </div>

	</div>
</div>