<div class="ui modal responsive func__verify_ccard ccard verify-bank">
    <i class="fa fa-close"></i>
    <h1>Verify Credit Card</h1>

    <div class="wrap">
        <hr />
        <p>Verify the micro deposit amount credited to the credit card account ending in <b><span class="func__last_four"></span></b>:</p> 
        <div class="ui">

            <div class="ui form">

                <div class="field">
                    <label>Micro Deposit Amount</label>
                    <div class="ui left input">
                        <input class="deposit-1 func__val_1" type="text" placeholder="0.00">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui button func__confirm_verify_ccard">Verify</div>

    </div>
    
</div>