
	<div class="ha-sub-nav">
		<div class="col-xs-6 col-no-padding option">
			<div class="buy func__nav_buy">
				<a class="item {{#is action 'buy'}}active{{/is}}">Buy Bitcoin</a>
			</div>
		</div>
		<div class="col-xs-6 col-no-padding option">
			<div class="sell func__nav_sell ">
				<a class="item {{#is action 'sell'}}active{{/is}}">Sell Bitcoin</a>
			</div>
		</div>
	</div>
