<div class="ha-activity">
	<h1 class="ha-main-header secondary">
		Recent  Activity
		{{partial 'web-client/app/templates/activity/paginate' this}}
	</h1>

	<div class="func__append_to childview-container {{!-- ui basic segment loading --}}">
		<p class="func__no_activity ha-no-activity"><br><br>No recent activity</p>
	</div>

</div>