<span class="ha-paginate">
	
	<span class="func__paginate_prev ui button"><i class="fa fa-angle-left"></i> &nbsp;prev</span>

	<span class="func__paginate_next ui button">next &nbsp;<i class="fa fa-angle-right"></i></span>

</span>
