<div class="ha-sub-nav func__sub_nav row">
	<div class="col-xs-4 col-no-padding">
		<a class="item account {{#is setting 'account'}}active{{/is}}" data-setting="account">Account</a>
	</div>
	<div class="col-xs-4 col-no-padding">
		<a class="item verification {{#is setting 'verification'}}active{{/is}}" data-setting="verification">Verification</a>
	</div>
	<div class="col-xs-4 col-no-padding">
		<a class="item wallets {{#is setting 'wallets'}}active{{/is}}" data-setting="wallets">Wallets</a>
	</div>
</div>