<div id="wallets" class="tabs {{#isnt setting 'wallets'}}hidden{{/isnt}}">

	<div class="row">
		<div class="col-xs-12">
			<div class="wrap">
				<h1>We think digital currency is strongest when users have direct control of their coins. This is why we practice B.Y.O.W. (bring your own wallet). Your coins, your wallet, your control.</h1>
				{{partial 'web-client/app/templates/shared/wallets' this}}
			</div>
		</div>
	</div>

</div>