<div class="ha-drawers hidden-md">
	<div class="ha-drawer-left ha-sidebar">
		<div id="sidebar-mobile"></div>
	</div>
</div>

<div id="snapper">

	<div class="container-fluid main snapper-absolute">
		<div class="row main">

			<div class="col-sm-1 col-no-padding same-height hidden-xs">
				<div id="sidebar" class="func__sidebar ha-sidebar"></div>
			</div>
			<div class="col-sm-11 col-xs-12 ha-main same-height">
				<div id="nav"></div>
				<div id="content" class="func__content content-block"></div>
				<div class="func__loading_activity loading-activity hidden">Loading...</div>
			</div>

		</div>
	</div>

</div>

<div id="modals"></div>

<iframe id="synapse_iframe" style="top:0; height:0%;width:0%;position:fixed;z-index:100000;visibility:hidden;" frameborder="0"></iframe>
