
<div class="ha-add-social">
	<div class="row">
		<div class="col-md-4 col-no-padding">
			<a {{#if facebook_object.id}}href="#"{{else}}href="/submit/fb"{{/if}} class="ui facebook button {{#if facebook_object.id}}disabled{{/if}}">
				<i class="facebook icon"></i> {{#if facebook_object.id}}<i class="fa fa-check verified"></i>{{/if}}
			</a>
		</div>
	</div>
</div>