<div class="row func__search_click_state">
	<div class="col-md-12">
		<div class="ui form ha-personal-address">
			<label>Personal address:</label>
			<div class="ui input icon func__address_form_wrap">
				<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
				<input style="display:none" type="text" name="fakeusernameremembered"/>
				<input style="display:none" type="password" name="fakepasswordremembered"/>
				<input class="func__personal_address name" type="text" placeholder="Search for your address" value="{{address_text}}">
				<i class="search icon"></i>
			</div>
			<div class="ha-search-wrap">
				<div class="ha-search-results func__search_results">
					<ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>