$ha-green-primary: rgba(91,189,114,1); // #5bb72
$ha-green-secondary: rgba(61,126,76,1); // #3d7e4c

$ha-blue-primary: #1B6370;

$ha-grey-primary: #999999;
$ha-grey-primary-darken: darken(#999999, 25);

$ha-grey-secondary: #eaeaea;
$ha-grey-secondary-darken: darken(#eaeaea, 10);

$ha-red: #bd4546;